In [1]:
import pandas as pd
import app
import plotly.express as px

SyntaxError: unexpected EOF while parsing (app.py, line 53)

In [2]:
dd = pd.read_csv('data/ny_gnp_pcap_pp_cd.csv')
dd

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1710.0,1700.0,1920.0,2020.0,2070.0,2110.0,2000.0,2090.0,2100.0,2190.0
1,Albania,2550.0,1880.0,1740.0,2110.0,2300.0,2710.0,3050.0,2780.0,3110.0,...,9540.0,10200.0,10500.0,10800.0,11400.0,11800.0,12200.0,13100.0,13800.0,14300.0
2,Algeria,6660.0,6510.0,6690.0,6630.0,6530.0,6710.0,6980.0,7120.0,7490.0,...,13100.0,13400.0,13100.0,12800.0,12700.0,11700.0,11500.0,11600.0,11600.0,11700.0
3,Angola,2990.0,3310.0,1630.0,1490.0,1260.0,2350.0,2420.0,2830.0,2820.0,...,5950.0,6130.0,6810.0,7130.0,7680.0,6960.0,6730.0,6860.0,6550.0,6380.0
4,Antigua and Barbuda,10500.0,11300.0,11600.0,12400.0,13200.0,12600.0,13500.0,14300.0,14900.0,...,20100.0,19700.0,19000.0,18200.0,18100.0,17700.0,18600.0,18800.0,20600.0,21800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,9450.0,10500.0,11000.0,11000.0,10700.0,11200.0,11200.0,11800.0,11700.0,...,16500.0,17100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Vietnam,860.0,930.0,1030.0,1120.0,1240.0,1380.0,1500.0,1630.0,1720.0,...,4050.0,4330.0,4840.0,5130.0,5470.0,5790.0,6300.0,6650.0,7290.0,7910.0
183,Yemen,2060.0,2090.0,2220.0,2260.0,2350.0,2370.0,2320.0,2400.0,2590.0,...,3920.0,3350.0,3340.0,3520.0,NaN,NaN,NaN,NaN,NaN,NaN
184,Zambia,1350.0,1320.0,1310.0,1430.0,1330.0,1360.0,1440.0,1480.0,1440.0,...,2970.0,3160.0,3360.0,3430.0,3470.0,3360.0,3300.0,3330.0,3550.0,3560.0
185,Zimbabwe,1740.0,1850.0,1680.0,1710.0,1870.0,1890.0,2110.0,2170.0,2220.0,...,1610.0,1800.0,2070.0,2310.0,2360.0,2410.0,2560.0,2760.0,2990.0,2740.0

In [10]:
ab = dd.country.unique()

In [11]:
ab

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyz Republic',
       'Lao', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
df2 = app.data_preprocessing()

In [ ]:
df2

In [ ]:
df2.loc[df2['year'] == 1990]

In [ ]:
df2.dtypes

In [ ]:
df2['year'] = df2['year'].astype(str).astype(int)

In [ ]:
df2.query('year==2007')

In [ ]:
fig = px.scatter(df2.query('year==2007'), x='GNI_perCapita', y='life_expectancy',
                 size='population', color='country', hover_name='country', log_x=True, size_max=60)

In [ ]:
fig.show()

In [ ]:
df2['year'].min()

In [ ]:
df.country.unique()